@model IEnumerable<Domain.Models.PsychologicalProfile>

@{
    ViewData["Title"] = "Psychological Profiles";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Tables Sorting -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.ActionLink("Add Psychological Profile", "Create", "PsychologicalProfile", null, new { @style = "float:left;", @class = "btn btn-success" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            Serviceman Full Name
                        </th>
                        <th>
                            Profile Description
                        </th>
                        <th>
                            Assessment Date
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServicemenFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfileDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssessmentDate.Value.ToString("dd.MM.yyyy"))
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 3 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]]
        });
    });
</script>