@model Domain.Models.Subdivision

@{
    ViewData["Title"] = "Create Subdivision";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SubdivisionName, "Enter Subdivision Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SubdivisionName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubdivisionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MilitaryUnitId, "Select Military Unit", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.MilitaryUnitId, new SelectList(ViewBag.MilitaryUnitList, "MilitaryUnitId", "MilitaryUnit"), "-- Select Military Unit --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MilitaryUnitId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}