@model Domain.Models.Resolution

@{
    ViewData["Title"] = "Resolve Document";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DocumentId)

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorId, "Select Resolution Author", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(
                         model => model.AuthorId,
                         new SelectList(ViewBag.AuthorList, "Id", "FullName"),
                         "-- Select Author --",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResolutionText, "Enter Resolution Text", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.ResolutionText, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.ResolutionText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Resolution" class="btn btn-success" />
                @Html.ActionLink("Back to List", "DocumentFlow", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}