@model Domain.Models.Award

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Task", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">
        <div class="col-md-10">
            <h2>Are you sure you want to delete this award?</h2>

            <dl class="dl-horizontal">
                <div class="form-group">
                    <dt class="col-sm-2">Serviceman</dt>
                    <dd class="form-control-static">@Model.ServicemenFullName</dd>
                </div>
                <div class="form-group">
                    <dt class="col-sm-2">Award Name</dt>
                    <dd class="form-control-static">@Model.AwardName</dd>
                </div>
                <div class="form-group">
                    <dt class="col-sm-2">Award Date</dt>
                    <dd class="form-control-static">@Model.AwardDate</dd>
                </div>
            </dl>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
